name: Lint

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=5m

  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: markdownlint
        uses: davidanson/markdownlint-cli2-action@v16
        with:
          globs: "**/*.{md,markdown}"

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_data: "{extends: default, rules: {line-length: disable}}"

  editorconfig-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: editorconfig-checker
        uses: editorconfig-checker/action-editorconfig-checker@v2
